<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head",title) %>

</head>

<body>

    <!-- Navbar -->
    <%- include("../partials/navbar") %>

    <div class="container mt-3">
        <div class="row">


            <!-- Blog Cards -->
            <div class="col-md-7">
                <h3>Populer Blogs</h3>
                <%- include('../partials/blog-card',blogs) %>

                <%- include("../partials/pagination") %>
            </div>

        </div>
    </div>

</body>

</html>